@*
    Comentario: Información sobre cómo habilitar MVC en proyectos vacíos.
*@

@{
    // Configuración del título de la vista
    ViewData["Title"] = "Hoteles";
}

<!-- Encabezado principal -->
<h1 class="text-center my-4">Los hoteles de la cadena son los siguientes</h1>

<!-- Subtítulo -->
<h2 class="text-center mb-4">Selecciona un hotel para ver habitaciones disponibles:</h2>

<!-- Contenedor de la lista de hoteles -->
<div class="row row-cols-1 row-cols-md-2 g-4 mx-3">
    <!-- Hotel: New York -->
    <div class="col-md-6 col-lg-4">
        <a asp-controller="Hoteles" asp-action="HabitacionesNewYork" class="card text-center border border-primary">
            <img src="~/Imagenes/HotelNewYork.jpg" class="card-img-top rounded" alt="Hotel NewYork" style="height:200px;">
            <div class="card-body">
                <p class="card-text h4 text-dark">Hotel Continental de New York</p>
            </div>
        </a>
    </div>

    <!-- Hotel: Roma -->
    <div class="col-md-6 col-lg-4">
        <a asp-controller="Hoteles" asp-action="HabitacionesRoma" class="card text-center border border-primary">
            <img src="~/Imagenes/HotelRoma.jpg" class="card-img-top rounded" alt="Hotel Roma" style="height:200px;">
            <div class="card-body">
                <p class="card-text h4 text-dark">Hotel Continental de Roma</p>
            </div>
        </a>
    </div>

    <!-- Hotel: Marruecos -->
    <div class="col-md-6 col-lg-4">
        <a asp-controller="Hoteles" asp-action="HabitacionesMarruecos" class="card text-center border border-primary">
            <img src="~/Imagenes/HotelMarruecos.jpg" class="card-img-top rounded" alt="Hotel Marruecos" style="height:200px;">
            <div class="card-body">
                <p class="card-text h4 text-dark">Hotel Continental de Marruecos</p>
            </div>
        </a>
    </div>

    <!-- Hotel: Tokyo -->
    <div class="col-md-6 col-lg-4">
        <a asp-controller="Hoteles" asp-action="HabitacionesTokyo" class="card text-center border border-primary">
            <img src="~/Imagenes/HotelTokyo.jpg" class="card-img-top rounded" alt="Hotel Tokyo" style="height:200px;">
            <div class="card-body">
                <p class="card-text h4 text-dark">Hotel Continental de Osaka Tokyo</p>
            </div>
        </a>
    </div>

    <!-- Enlace para ver todos los hoteles -->
    <div class="col-md-6 col-lg-4">
        <a asp-controller="Hoteles" asp-action="ListaHoteles" class="card text-center border border-primary">
            <img src="~/Imagenes/Todos.jpg" class="card-img-top rounded" alt="Todos los hoteles" style="height:200px;">
            <div class="card-body">
                <p class="card-text h4 text-dark">Todos los hoteles</p>
            </div>
        </a>
    </div>
</div>
